@charset "UTF-8"; 
/**********************************************************************
JBLib JBLIB Style Sheet

version : 0.0.1
author : quftns
email : quftns@nate.com
**********************************************************************/
@import url("common.css");
@import url("style_inc.css");
@import url("style_main.css");
@import url("style_sub.css");
@import url("style_board.css");

/**********************************************************************
common.css : 공통, 기본폰트
style_inc.css : 상단, 하단, 레프트, 컨텐츠 상단 타이틀
style_main.css : 메인페이지
style_sub.css : 컨텐츠 페이지
style_board.css : 자료실, 마이페이지, 기타 페이지
**********************************************************************/