@charset "UTF-8"; 
/**********************************************************************
Nia Common Style Sheet

version : 0.0.1
email : quftns@nate.com
**********************************************************************/
/**********************************************************************
# Common
**********************************************************************/
body  { margin:0; padding:0px; font-family: "Malgun Gothic", "dotum", "sans-serif"; font-size:13px; color:#404040; line-height:1.4em; letter-spacing:0em;  }
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, font, img, ins, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, 
caption, tbody, tfoot, thead, tr, th, td 
{margin:0; padding:0; border:0; line-height:1.33em;}

/* >>default style */
html,body{width:100%;height:100%; }
html {filter: expression(document.execCommand('BackgroundImageCache', false, true));overflow-y:scroll}
table {border-spacing:0; border-collapse:collapse; font-size:1em;}
td,th {font-size:12px;font-family:dotum;}
input {font-size:12px;font-family:dotum;}
textarea {border:1px solid #cccccc;font-family:tahoma;font-size:12px;}
dd,dt,ol,dl,ul,li {list-style:none;margin:0;padding:0;}
form {display:inline;}
label {cursor:pointer;}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal;}
legend,caption {display:none; height:0; width:0; font-size:0;}
img,fieldset {vertical-align:top; border:0;}
p {margin:0;}
blockquote, q {quotes: none;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
hr {display: none;}
a				{ color:#4D4D4D; text-decoration: none; }
a:hover		{   text-decoration: underline;  }
/*table.nowrap th, table.nowrap td		{ white-space:nowrap; }*/
.clear, .clear:after, .clear:before	{ clear:both; }
.skip, .blind, caption, legend, label	{ position:absolute; width:0; height:0; margin:0 !important; padding:0 !important; font-size:0; line-height:0; text-indent:-3000px; border:none; overflow:hidden; }


/**********************************************************************
# Web Accessibillity
**********************************************************************/
h1, h2, h3, h4, h5, h6  {  font-size:15px; color:#404040; }



/*  폰트정의  */
.f11				    {  font-size:11px;color:#A1A1A1;  }

a.f12				    {  font-size:12px;color:#404040;  }
a:hover.f12		{  text-decoration: underline;  }

a.f13				    {  font-size:13px;color:#404040;  }
a:hover.f13		{  text-decoration: underline;  }
